
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/';

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';


*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

#wrapper{
  background-image: url('http://orig14.deviantart.net/9f8c/f/2013/088/d/5/background_one_piece_by_xxhxaxx-d5zp2xa.png');
  background-size: cover;
  height: 700px;
  position: relative;
}

.game-title{
  text-align: center;
}

.health-bar-hero{
  background-color: red;
  height: 8px;
  width: 100%;
}

.health-bar-enemy{
  background-color: red;
  height: 8px;
  width: 100%;
  z-index: -10;
}

#bar{
  text-align: center;
  width: 100%;
  height: 8px;
  background-color: green;

}

.char-name{
  font-size: 30px;
  color: white;
  font-weight: bold;
  background-color: #212385;
  border-radius: 5px;
  text-align: center;
  width: 70%;
}

.modal-body{
  height: 300px;
  font-size: 20px;
}

.modal-body .char-image img{
  height: 200px;
}

.play-button{
  background: linear-gradient(#f00, #900);
  border: 1px solid #900;
  font-size: 30px;
  position: absolute;
  left: 37%;
  top: 60%;
}


.display-hide{
  display: none;
}

#char-row{
  margin: 20px;
}

#char-modal{
  display: inline-block;
  display: flex;
}

.char-image{
  display: inline-block;
}

.hero{
  vertical-align: middle;
}

.fight-button{
font-size: 30px;
font-weight: bold;
text-align: center;
position: absolute;
left: 45%;
}
