
<!-- adding sound -->
      <audio src="./images/SFX_Powerup_50.mp3" autoplay> Your browser does not support the<code>audio</code> element.
      </audio>
      
<div data-hero="{{ index }}" class="js-hero">

  <div class="char-image">
    <img src="{{ image }}" alt="">
  </div>

  <div class="char-name">
  <span>{{ name }}</span>
  </div>

</div>
