<div class="col-md-4">
  <div data-hero="{{ index }}" class="js-hero">
    <div class="char-image">
      <img src="{{ thumbnail }}" alt="">
    </div>

    <div class="char-name">
      <span>{{ name }}</span>
    </div>
  </div>
</div>
