<audio id="audio"></audio>

<div id="char-row" class="row">
  <div class="col-md-5 col-xs-6">

    <div class="hero">
      <div class="health-bar-hero">
        <span id="hero-health"></span>
      </div>
      <!-- hero template -->
    </div>

  </div>

  <div class="col-md-2 col-xs-hidden">
    <!-- middle space -->
  </div>

  <div class="col-md-5 col-xs-6">

    <div class="enemy">
      <div class="health-bar-enemy">
        <span id="enemy-health"></span>
      </div>
      <!-- enemy-template -->
    </div>

  </div>


  <button type="button" class="btn fight-button btn-danger">Fight!</button>


</div>
